Repository itx-academy-2/spa-orders, pull requests merged in 2025-02, with the labels that each got.

#9 [GS2-2] New Sales page with discount percentage
  code/src/components/app-pagination/AppPagination.tsx
  code/src/components/product-sale-card/SaleProductCard.scss
  code/src/components/product-sale-card/SaleProductCard.test.tsx
  code/src/components/product-sale-card/SaleProductCard.tsx
  code/src/components/product-sale-card/SaleProductCard.types.ts
  code/src/constants/api-tags.ts
  code/src/constants/requests.ts
  code/src/constants/routes.ts
  code/src/containers/category-section/messages/en.json
  code/src/containers/category-section/messages/uk.json
  code/src/containers/forms/product-form/ProductForm.constants.ts
  code/src/containers/pagination-block/PaginationBlock.tsx
  code/src/containers/products-container/ProductsContainer.scss
  code/src/containers/products-container/ProductsContainer.test.tsx
  code/src/containers/products-container/ProductsContainer.tsx
  code/src/containers/products-container/ProductsContainer.types.ts
  code/src/layouts/header/components/header-categories/HeaderCategories.constants.ts
  code/src/layouts/header/components/header-categories/HeaderCategories.test.tsx
  code/src/layouts/header/components/header-categories/HeaderCategories.tsx
  code/src/messages.ts
  code/src/pages/products/messages/en.json
  code/src/pages/products/messages/uk.json
  code/src/pages/sales/SalesPage.scss
  code/src/pages/sales/SalesPage.test.tsx
  code/src/pages/sales/SalesPage.tsx
  code/src/pages/sales/messages/en.json
  code/src/pages/sales/messages/index.ts
  code/src/pages/sales/messages/uk.json
  code/src/routes/guestRoutes.tsx
  code/src/store/api/productsApi.ts
  code/src/styles/foundation/_variables.scss
  code/src/types/product.types.ts
  e2e/cypress/test_module/cypress/features/sales-page/sales-page.feature
  e2e/cypress/test_module/cypress/support/commands.ts
  e2e/cypress/test_module/cypress/support/index.ts
  e2e/cypress/test_module/cypress/support/step_definitions/sales-page.ts
  e2e/cypress/test_module/package.json
  mock-backend/src/controllers/productController.js
  mock-backend/src/data/mokedData.js
  mock-backend/src/routes/productRoutes.js
Labels: feature, sprint 1, user story

#10 [GS2-8] Displaying discounts
  code/src/containers/cart-drawer/cart-drawer-item/CartDrawerItem.scss
  code/src/containers/cart-drawer/cart-drawer-item/CartDrawerItem.test.tsx
  code/src/containers/cart-drawer/cart-drawer-item/CartDrawerItem.tsx
  code/src/containers/order-item/components/order-product-item/OrderProductItem.scss
  code/src/containers/order-item/components/order-product-item/OrderProductItem.test.tsx
  code/src/containers/order-item/components/order-product-item/OrderProductItem.tsx
  code/src/hooks/use-add-to-cart-or-open-drawer/useAddToCartOrOpenDrawer.tsx
  code/src/hooks/use-synchronize-cart/useSynchronizeCart.ts
  code/src/hooks/use-user-cart-items/useUserCartItems.ts
  code/src/pages/cart/components/cart-item/CartItem.scss
  code/src/pages/cart/components/cart-item/CartItem.test.tsx
  code/src/pages/cart/components/cart-item/CartItem.tsx
  code/src/store/slices/localCart.ts
  code/src/types/cart.types.ts
  mock-backend/src/controllers/cartController.js
  mock-backend/src/data/mokedData.js
  mock-backend/src/data/mokedOrders.js
Labels: feature, sprint 1, user story

#11 [GS2-49] Display discounts related to the product
  code/src/components/app-typography/AppTypography.types.ts
  code/src/components/price-label/PriceLabel.scss
  code/src/components/price-label/PriceLabel.test.tsx
  code/src/components/price-label/PriceLabel.tsx
  code/src/components/price-label/PriceLabel.types.ts
  code/src/constants/common-messages/en.json
  code/src/constants/common-messages/uk.json
  code/src/containers/cart-drawer/CartDrawer.tsx
  code/src/containers/cart-drawer/cart-drawer-item/CartDrawerItem.tsx
  code/src/containers/forms/delivery-form/DeliveryForm.tsx
  code/src/containers/forms/product-form/ProductForm.scss
  code/src/containers/forms/product-form/ProductForm.types.ts
  code/src/containers/forms/product-form/components/additional-info/AdditionalInfo.test.tsx
  code/src/containers/forms/product-form/components/additional-info/AdditionalInfo.tsx
  code/src/containers/forms/product-form/components/update-product-form/UpdateProductForm.test.tsx
  code/src/containers/forms/product-form/components/update-product-form/UpdateProductForm.tsx
  code/src/containers/forms/product-form/messages/en.json
  code/src/containers/forms/product-form/messages/uk.json
  code/src/containers/forms/product-form/utils/get-default-values/getDefaultValues.test.ts
  code/src/containers/forms/product-form/utils/get-default-values/getDefaultValues.ts
  code/src/containers/order-item/OrderItem.test.tsx
  code/src/containers/order-item/components/order-item-details/OrderItemDetails.tsx
  code/src/containers/order-item/components/order-item-details/OrderProductDetails.test.tsx
  code/src/containers/order-item/components/order-product-item/OrderProductItem.test.tsx
  code/src/containers/order-item/components/order-product-item/OrderProductItem.tsx
  code/src/containers/order-summary/OrderSummary.tsx
  code/src/containers/orders-list/OrdersList.test.tsx
  code/src/containers/tables/orders-table/OrdersTable.constants.ts
  code/src/containers/tables/orders-table/components/orders-table-body/OrdersTableBody.scss
  code/src/containers/tables/orders-table/components/orders-table-body/OrdersTableBody.test.tsx
  code/src/containers/tables/orders-table/components/orders-table-body/OrdersTableBody.tsx
  code/src/containers/tables/orders-table/messages/en.json
  code/src/containers/tables/orders-table/messages/uk.json
  code/src/containers/tables/products-table/ProductsTable.constants.ts
  code/src/containers/tables/products-table/ProductsTable.test.tsx
  code/src/containers/tables/products-table/components/products-table-body/ProductsTableBody.scss
  code/src/containers/tables/products-table/components/products-table-body/ProductsTableBody.tsx
  code/src/hooks/use-user-cart-items/useUserCartItems.ts
  code/src/pages/cart/CartPage.tsx
  code/src/pages/cart/components/cart-item/CartItem.test.tsx
  code/src/pages/cart/components/cart-item/CartItem.tsx
  code/src/pages/dashboard/dashboard-product/components/dashboard-product-container/DashboardProductContainer.scss
  code/src/pages/dashboard/dashboard-product/components/dashboard-product-container/DashboardProductContainer.test.tsx
  code/src/pages/dashboard/dashboard-product/components/dashboard-product-container/DashboardProductContainer.tsx
  code/src/pages/product-details/components/product-details-container/ProductDetailsContainer.scss
  code/src/pages/product-details/components/product-details-container/ProductDetailsContainer.tsx
  code/src/types/cart.types.ts
  code/src/types/order.types.ts
  code/src/types/product.types.ts
  mock-backend/src/controllers/cartController.js
  mock-backend/src/controllers/productController.js
  mock-backend/src/data/managerProducts.js
  mock-backend/src/data/mockedCartItems.js
  mock-backend/src/data/mokedOrders.js
Labels: feature, user story

#13 [GS2-70] Increased tests coverage low-covered files
  code/src/containers/cart-drawer/CartDrawer.test.tsx
  code/src/containers/cart-drawer/CartDrawer.tsx
  code/src/containers/cart-drawer/cart-drawer-item/CartDrawerItem.test.tsx
  code/src/containers/cart-drawer/cart-drawer-item/CartDrawerItem.tsx
  code/src/hooks/use-add-to-cart-or-open-drawer/useAddToCartOrOpenDrawer.tsx
  code/src/hooks/use-synchronize-cart/useSynchronizeCart.test.ts
  code/src/hooks/use-synchronize-cart/useSynchronizeCart.ts
  code/src/hooks/use-user-cart-items/useUserCartItems.test.ts
  code/src/hooks/use-user-cart-items/useUserCartItems.ts
  code/src/pages/cart/CartPage.test.tsx
  code/src/pages/cart/components/cart-item/CartItem.scss
  code/src/pages/cart/components/cart-item/CartItem.test.tsx
  code/src/pages/cart/components/cart-item/CartItem.tsx
  code/src/pages/product-details/components/product-details-container/ProductDetailsContainer.test.tsx
  code/src/store/slices/localCart.ts
  code/src/types/cart.types.ts
Labels: sprint 2, tests
